# Gradle files
.gradle/
build/
/*/build/

# Kotlin and Java
*.class
*.kt.ignored
*.kts.ignored

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Android specific
local.properties
.externalNativeBuild/
.cxx/
captures/
output.json

# System files
.DS_Store
Thumbs.db

# Mobile tools
*.apk
*.aar
*.ap_
*.aab
*.dex

# Secrets and Keystores
*.jks
*.keystore
*.p12
*.key
*.pub
google-services.json

# Log files
*.log
